.articles-container {
  padding: 20px;
  width: auto;
  margin: auto;
}

.article-title {
  color: green;
  height: auto;
  width: auto;
  padding: 2em;
}

.comments-container {
  color: rgb(128, 0, 94);
  height: auto;
  width: auto;
  padding: 2em;
}
